:root {
    --color-black: #000000;
    --color-dark-blue: #1d2b53;
    --color-dark-purple: #7e2553;
    --color-dark-green: #008751;
    --color-brown: #ab5236;
    --color-dark-grey: #5f574f;
    --color-light-grey: #c2c3c7;
    --color-white: #fff1e8;
    --color-red: #ff004d;
    --color-orange: #ffa300;
    --color-yellow: #ffec27;
    --color-green: #00e436;
    --color-blue: #29adff;
    --color-indigo: #83769c;
    --color-pink: #ff77a8;
    --color-peach: #ffccaa;
    --font-family: Anakron, Hack, 'Source Code Pro', monospace;
    --base-font-size: 12px;
}

html, html.c1 {
    --color-background: var(--color-dark-grey);
    --color-color: var(--color-light-grey);
    --color-highlight: var(--color-dark-green);
    --color-selection: var(--color-pink);
    --color-highlight-selection: var(--color-red);
    --color-error: var(--color-dark-purple);
    --color-error-selection: var(--color-red);
    --color-verbose: var(--color-indigo);
    --font-size: var(--font-size);
    
    background-color: var(--color-background);
    color: var(--color-color);
    font-family: var(--font-family);
    box-sizing: border-box;
    font-size: var(--font-size);
}

html.c2 {
    --color-background: var(--color-black);
    --color-color: var(--color-white);
    --color-highlight: var(--color-green);
    --color-selection: var(--color-indigo);
    --color-highlight-selection: var(--color-brown);
    --color-error: var(--color-red);
    --color-error-selection: var(--color-dark-purple);
    --color-verbose: var(--color-indigo);
}

html.c3 {
    --color-background: var(--color-light-grey);
    --color-color: var(--color-black);
    --color-highlight: var(--color-dark-green);
    --color-selection: var(--color-pink);
    --color-highlight-selection: var(--color-red);
    --color-error: var(--color-dark-purple);
    --color-error-selection: var(--color-red);
    --color-verbose: var(--color-indigo);
}

html.c4 {
    --color-background: var(--color-brown);
    --color-color: var(--color-peach);
    --color-highlight: var(--color-dark-blue);
    --color-selection: var(--color-indigo);
    --color-highlight-selection: var(--color-dark-green);
    --color-error: var(--color-dark-purple);
    --color-error-selection: var(--color-red);
    --color-verbose: var(--color-indigo);
}

::selection {
    color: var(--color-selection);
}

.hi::selection {
    color: var(--color-highlight-selection);
}

.err::selection {
    color: var(--color-error-selection);
}

body {
    width: 100%;
    max-width: min(40ch, 100vw);
    margin: 0 auto;
}

.hi {
    font-style: normal;
    color: var(--color-highlight);
}

.err {
    font-style: normal;
    color: var(--color-error);
}

#main {
    width: 100%;
    margin: 0 auto;
}

.cursor, .io, .help {
    line-height: 1.11111111em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.cursor, .input, .input.verbose {
    color: var(--color-color);
    display: inline-block;
}

.cursor {
    font-size: var(--font-size);
}

.cursor::after {
    overflow: hidden;
    vertical-align: text-top;
    font-size: round(calc(var(--font-size) / 2), var(--base-font-size));
    line-height: 1;
}

.cursor.p0::after {
    content: '0';
}

.cursor.p1::after {
    content: '1';
}

.cursor.p2::after {
    content: '2';
}

.cursor.p3::after {
    content: '3';
}

.cursor.p4::after {
    content: '4';
}

.cursor.p5::after {
    content: '5';
}

.cursor.p6::after {
    content: '6';
}

.cursor.p7::after {
    content: '7';
}

.cursor.p8::after {
    content: '8';
}

.cursor.p9::after {
    content: '9';
}

.hidden {
    display: none;
}

.verbose {
    color: var(--color-verbose);
}
